<div class="g-config g-config-page">
    <!--ms-include-->
    <section class="c-config" avalonctrl="ccConfig">
        <!--repeat534161881778976219804144223770503-->
        <section class="c-config-wapper none">
            <!--ms-if-->
            <!-- 配置节 -->

            <div ui-config-section><h2></h2><i class="icon-x20 icon-x20-down"></i></div>
            <!-- <section class="c-conf-section c-conf-triggerSection z-expand">
                <h2>配置</h2> <i class="icon-x20 icon-x20-down"></i>
            </section> -->

            <!-- 类型显示区域 -->
            <div class="c-background-pop">
                <div page-background-image></div>
                <div page-background-color></div>
            </div>

            <!-- 配置节 end -->
            <section class="c-conf-section z-expand">
                <!-- 翻页节 -->
                <div page-slider-icon></div>
                <hr>
                <h2>翻页动画</h2>
                <!-- 入场动画 -->
                <div page-slide-animation></div>
                <!-- 应用到所有页面 -->
                <div class="c-conf-row f-mt-30">
                    <div class="f-fix f-mb-20">
                        <label class="f-float-l f-mt-2" style="color:#333">应用到所有页面</label>
                        <div ng-model="currentPage.applyAllPages" input-switcher></div>
                    </div>
                    <hr>
                    <div class="f-fix f-mt-20" style="position: relative">
                        <label class="f-float-l f-mt-2" style="color:#333">锁定翻页</label>
                        
                        <div ng-model="currentPage.lockTurnPage" input-switcher></div>

                        <div class="tips-area">
                            <div class="info">
                                <div class="info-pop" style="top: -61px;height: 38px;padding-top: 10px;width: 205px">
                                    锁定后该页将无法继续翻页，
                                    <br>
                                    可添加“跳转按钮”跳转至其他页面。
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="f-fix f-mt-20 f-mb-15" style="position: relative">
                        <label class="f-float-l f-mt-2" style="color:#333">自动翻页</label>
                        <div ng-model="currentPage.autoTurnPage" input-switcher></div>

                        <div class="tips-area">
                            <div class="info">
                                <div class="info-pop" style="top: -80px;height: 57px;padding-top: 10px">
                                    1、该页面动画自动播放完毕后，并自动翻至下一页；
                                    <br>
                                    2、自动播放时，点击该页面即可停止自动播放。
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 翻页节 end --> </section>
        <!--repeat534161881778976219804144223770503-->
        <!--ms-if-->
        <!--repeat534161881778976219804144223770503:end-->
        <section class="effect f-fix z-hide">
            <header>页面特效</header>
            <div class="choose-list">
                <!--repeat306789758317957745104534519183306-->
                <div class="choose-warp" title="擦一擦">
                    <div class="effect-item" style="background-image: url(&quot;http://staticeng.liveapp.cn/tpl/pages/effect/eraser/img/earser-bg1.jpg&quot;);">
                        <div class="icon-x20 icon-x20-effect-check" style="display: none;"></div>
                    </div>
                    <p>擦一擦</p>
                </div>
                <!--repeat306789758317957745104534519183306-->
                <div class="choose-warp" title="氛围特效">
                    <div class="effect-item dropout" style="background-image: url(&quot;http://staticeng.liveapp.cn/tpl/pages/effect/dropout/img/dropout-bg1.jpg&quot;);">
                        <div class="icon-x20 icon-x20-effect-check" style="display: none;"></div>
                    </div>
                    <p>氛围特效</p>
                </div>
                <!--repeat306789758317957745104534519183306-->
                <div class="choose-warp" title="指纹特效">
                    <div class="effect-item" style="background-image: url(&quot;http://staticeng.liveapp.cn/tpl/pages/effect/finger/img/finger-bg1.png&quot;);">
                        <div class="icon-x20 icon-x20-effect-check" style="display: none;"></div>
                    </div>
                    <p>指纹特效</p>
                </div>
                <!--repeat306789758317957745104534519183306-->
                <div class="choose-warp" title="重力特效">
                    <div class="effect-item" style="background-image: url(&quot;http://staticeng.liveapp.cn/tpl/pages/effect/gravity/img/gravity-bg1.jpg&quot;);">
                        <div class="icon-x20 icon-x20-effect-check" style="display: none;"></div>
                    </div>
                    <p>重力特效</p>
                </div>
                <!--repeat306789758317957745104534519183306:end--> </div>
        </section>
        <section class="effect-conf z-hide" style="display: none;">
            <header>
                <div class="icon-x20 icon-x20-effecticon" style="display:inline-block;"></div>
                <span>特效</span>
            </header>
            <div class="effect-item">
                <div class="effect-show-warp">
                    <!--ms-html--> </div>
            </div>
        </section>
    </section>
    <!--ms-include-end-->
</div>